<h1>About EntoLogic</h1>
<blockquote>
  <p>From the Greek words: &#949;&#957;&#964;&#959;&#955;&#951; 
  	(<a href="https://en.wiktionary.org/wiki/%CE%B5%CE%BD%CF%84%CE%BF%CE%BB%CE%AE" target="_blank">entol&#233;</a>)
  	and &#955;&#959;&#947;&#959;&#962;
  	(<a href="https://en.wiktionary.org/wiki/%CE%BB%CE%BF%CE%B3%CE%BF%CF%82">logos</a>)
  </p>
</blockquote>
<h4>The EntoLogic project was created to help programming newcomers understand how programs work by explaining snippets they provide in whichever language they speak.</h4>

<p>The initial motivation was to have it as an entry in the <a href="http://www.btyoungscientist.com/">BT Young Scientist &amp; Technology Exhibition</a> (a national science fair) but has grown since.</p>