<div class="row translations-top">
	<div class="col-md-10">
		<h1>Submitted Phrases</h1>
		<p class="lead">
			Here you will find a list of phrases submitted by users which you can vote on to be used by the translator.
		</p>
	</div>
	<div class="col-md-2">
		<a href="/#/translate/new" class="btn btn-default">Create a translation</a>
	</div>
</div>
<div class="panel panel-default explanation-panel">
  <div class="panel-body options-panel">
  	<input type="text" class="form-control" placeholder="Filter phrases..." ng-model="searchPhrases">
  </div>
</div>
<div class="panel panel-default" ng-repeat="p in phrases | filter:searchPhrases" ng-class="{'panel-default': !p.inUse, 'panel-success': p.inUse}">
  <div class="panel-heading">
  	<ul class="list-inline">
  		<li>Spoken Language: <b ng-bind="p.nLang"></b></li>
  		<li>Programming Language: <b ng-bind="modes[p.pLang].fullName"></b></li>
  		<li>Programming Language: <b ng-bind="p.phraseName"></b></li>
      <div class="btn-group pull-right">
        <a class="btn btn-default" href="/#/translate/{{p._id}}" ng-show="p.user === u._id || u.admin === 1">Edit</a>
        <button class="btn btn-default" ng-click="setInUse(p)" ng-show="u.admin === 1">Set in use</button>
      </div>
  	</ul>
  </div>
  <div class="panel-body">
    <span ng-repeat="c in p.clauses" ng-class="{'text-warning': c.condition, 'text-info': !c.condition}" ng-bind="c.words + ($last ? '' : '|')"></span>
  </div>
</div>