<h4 ng-hide="phraseTypes">Loading phrase editor...</h4>
<div ng-show="phraseTypes" class="phrase-editor">
	<h2>Add new phrase</h2>

	<div class="panel panel-default explanation-panel">
	  <div class="panel-body options-panel" ng-hide="phrase.clauses.length">
	    Explain 
	    <div class="btn-group btn-group-sm">
	      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	        <span ng-bind="currentPhraseObject.descriptive || 'select phrase type'"></span>
	        <span class="caret"></span>
	        <span class="sr-only">Toggle Dropdown</span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li ng-repeat="pT in phraseTypes">
	          <a href="" ng-bind="pT.descriptive" ng-click="setPhraseType(pT.phrase_type)"></a>
	        </li>
	      </ul>
	    </div>
	    in
	    <div class="btn-group btn-group-sm">
	      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	        <span ng-bind="modes[phrase.pLang].fullName"></span> <span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li ng-repeat="(m, info) in modes | orderBy:'toString()'">
	          <a href="" ng-bind="info.fullName" ng-click="setMode(m)"></a>
	        </li>
	        <li role="presentation" class="divider"></li>
	        <li><a href="">Where is support for x programming language...(faq)</a></li>
	      </ul>
	    </div>
	    in
	    <div class="btn-group btn-group-sm">
	      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	        <span ng-bind="spokens[phrase.nLang].en"></span>
	        <span class="caret"></span>
	        <span class="sr-only">Toggle Dropdown</span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li ng-repeat="(s, info) in spokens | orderObjectBy:'en'">
	          <a href="" ng-bind="info.en" ng-click="setSpoken(info.code)"></a>
	        </li>
	        <li role="presentation" class="divider"></li>
	        <li><a href="">Why can't I translate into...(faq)</a></li>
	      </ul>
	    </div>
	  </div>

	  <div class="panel-body options-panel" ng-show="phrase.clauses.length">
	  	Explaining <b ng-bind="currentPhraseObject.descriptive"></b>
	  	in <b ng-bind="modes[phrase.pLang].fullName"></b>
	  	in <b ng-bind="spokens[phrase.nLang].en"></b>
			<button type="button" class="btn btn-success pull-right" ng-hide="phrase._id" ng-click="submitPhrase()">
				Submit Phrase
			</button>
			<button type="button" class="btn btn-success pull-right" ng-show="phrase._id" ng-click="saveChanges()">
				Save Changes
			</button>
	  </div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h3>Clauses</h3>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-primary pull-right" ng-click="addClause()">
				Add Clause
			</button>
		</div>
	</div>
	<h5 ng-hide="phrase.clauses.length">Add a clause by clicking the button above.</h5>
	<div class="row single-clause" ng-repeat="c in phrase.clauses track by $index" ng-init="clauseIndex = $index">
		<div class="col-md-4">
			<div class="btn-group">
				<button type="button" class="btn btn-info btn-sm" ng-click="addWords($index)">
					Add words
				</button>
			  <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
			    Add variable <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li ng-repeat="attrType in currentPhraseObject.attributes" popover-placement="right" popover-append-to-body="true"
			    		popover-trigger="mouseenter" popover="{{attrType.attr_type}} - {{attrType.full_name}}">
			    	<a href="" ng-click="addWords(clauseIndex, '$$' + attrType.attr)" ng-bind="attrType.attr"></a>
			    </li>
			  </ul>
			</div>
			<button type="button" class="btn btn-danger btn-sm" aria-hidden="true" ng-click="deleteClause($index)">
				&times; Remove
			</button>
			<div class="btn-group">
        <button class="btn btn-default btn-sm" type="button"
        				ng-click="moveClause($index, 0)">
        	&uarr;
        </button>
        <button class="btn btn-default btn-sm" type="button"
        				ng-click="moveClause($index, 1)">
        	&darr;
        </button>
			</div>
			<br>
			<br>
			<div>
				Condition Type:
        <select ng-model="c.condition.conditionType" ng-options="cT for cT in ['presence', 'comparison']"
        		ng-change="conditionTypeNullCheck(clauseIndex)">
          <option value="">Default Clause</option>
        </select>
      </div>
      <div ng-show="c.condition.conditionType">
				<span popover-placement="top" popover-trigger="mouseenter" popover="Do the opposite.">
			    Reverse:
			  </span>
        <select ng-model="c.condition.reverse" ng-options="r for r in [false, true]"></select>
      </div>
      <div ng-show="c.condition.conditionType">
				<span popover-placement="top" popover-trigger="mouseenter" popover="The attribute the clauses existence will depend on.">
			    Phrase Attribute:
			  </span>
        <select ng-model="c.condition.nodeAttribute" ng-options="nA.attr as nA.attr for nA in currentPhraseObject.attributes"></select>
      </div>
		</div>
		<div class="col-md-8">
			<div class="well well-sm">
				<ul class="word-list list-unstyled">
					<li ng-repeat="w in c.words track by $index">
						<div class="input-group">
				      <span class="input-group-btn">
				        <button class="btn btn-danger btn-sm" type="button" ng-click="c.words.splice($index, 1)">
				        	&times;
				        </button>
				      </span>
				      <input type="text" class="form-control input-sm"
				      				ng-model="c.words[$index]" ng-change=""
				      				placeholder="Add words and variables here...">
				      <!-- <span class="input-group-btn">
				        <button class="btn btn-default btn-sm" type="button">
				        	&uarr;
				        </button>
				        <button class="btn btn-default btn-sm" type="button">
				        	&darr;
				        </button>
				      </span> -->
				    </div>
					</li>
				</ul>
				<small>
					Multiple words can be added with spaces seperating in one box. Variables however must be given their own word box.
				</small>
			</div>
		</div>
		<hr>
	</div>
	<button type="button" class="btn btn-default btn-xs" ng-model="showJsonPhrase" btn-checkbox>Show JSON</button>
	<pre collapse="!showJsonPhrase" ng-bind="phrase | json"></pre>
</div>