// Custom styles go here
html
{
	height: 100%;
	vertical-align: baseline;
}
body
{
	height: 100%;
	vertical-align: baseline;
}
#entologic-container
{
	min-height: 100%;
	vertical-align: baseline;
	position: relative;
}
#entologic-current-page
{
	padding: 60px 0 60px 0;
	min-height: 100%;
	position: relative;
}
.main-footer
{
	font-size: 13px;
	min-height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-top: 5px;
	border-top: 1px solid #e3e3e3;
}
.navbar-ex1-collapse
{
	margin: 0 30px;
	padding: 0;
}
.logo-img-container
{
	width: 161px;
	margin: 0 0 0 -83px; // half the width
	display: inline-block;
	position: absolute;
	left: 50%;
	height: 100%;
	transition: background-color 0.1s;
	padding: 0 10px;
	&:hover
	{
		background-color: #e8e8e8;
	}
	&:active
	{
		background-color: #d8d8d8;
		.logo-img
		{
			transform: rotateX(-10deg) rotateY(10deg);
			-webkit-transform: rotateX(-10deg) rotateY(10deg);
		}
	}
	.logo-img
	{
		margin: 8px 0 0 0;
		width: 100%;
	}
}
.notification-bar
{
	height: 29px;
	z-index: 2000;
	position: fixed;
	display: inline;
	bottom: 0px;
	.old-notification
	{
		opacity: 0.6;
		transition: opacity 0.3s;
		&:hover
		{
			opacity: 1;
		}
	}
	.alert
	{
		display: inline-block;
		padding: 2px;
		margin: 0 0 4px 3px;
		& > div
		{
			float: left;
		}
		.close
		{
			line-height: 17px;
			padding-left: 3px;
		}
	}
}
.modal-header
{
	h3
	{
		margin: 0;
	}
}
// Custom Code Mirror resize
.CodeMirror {
  border: 1px solid #dddddd;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}


.options-panel
{
	padding: 8px;
}