// Custom styles go here
html
{
	height: 100%;
	vertical-align: baseline;
}
body
{
	height: 100%;
	vertical-align: baseline;
}
#entologic-container
{
	min-height: 100%;
	vertical-align: baseline;
	position: relative;
}
#entologic-current-page
{
	padding: 60px 0 130px 0;
	min-height: 100%;
	position: relative;
}
.popover-title
{
	font-size: 13px;
	padding: 3px 4px;
}
.popover-content
{
	font-size: 12px;
	padding: 3px 4px;
}
.main-footer
{
	font-size: 13px;
	min-height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding-top: 5px;
	border-top: 1px solid #e3e3e3;
}
.navbar-ex1-collapse
{
	margin: 0 30px;
	padding: 0;
}
.logo-img-container
{
	width: 161px;
	margin: 0 0 0 -83px; // half the width
	display: inline-block;
	position: absolute;
	left: 50%;
	height: 50px;
	transition: background-color 0.1s;
	padding: 0 3px;
	&:hover
	{
		background-color: #e8e8e8;
	}
	&:active
	{
		background-color: #d8d8d8;
		.beta-label, .logo-img
		{
			transform: rotateX(10deg) rotateY(-10deg);
			-webkit-transform: rotateX(10deg) rotateY(-10deg);
		}
	}
	.logo-img
	{
		margin: 8px 0 0 0;
		width: auto;
	}
	.beta-label
	{
		opacity: 0.9;
		// transform:rotate(-7deg);
		// -ms-transform:rotate(-7deg); /* IE 9 */
		// -webkit-transform:rotate(-7deg); /* Safari and Chrome */
		position: absolute;
		top: -2px;
		left: 130px;
	}
}
.notification-bar
{
	height: 83px;
	z-index: 2000;
	position: fixed;
	display: inline;
	bottom: 0px;
	padding-bottom: 54px;
	.old-notification
	{
		opacity: 0.6;
		transition: opacity 0.3s;
		&:hover
		{
			opacity: 1;
		}
	}
	.alert
	{
		display: inline-block;
		padding: 2px;
		margin: 0 0 4px 3px;
		& > div
		{
			float: left;
		}
		.close
		{
			line-height: 17px;
			padding-left: 3px;
		}
	}
}
.modal-header
{
	h3
	{
		margin: 0;
	}
}
.explanation-panel
{
	margin-bottom: 3px;
	.options-panel
	{
		padding: 8px;
	}
}
.explanation-status
{
	margin-bottom: 3px;
	font-size: 11px;
	padding: 4px;
	.list-inline
	{
		text-align: center;
		margin-bottom: 0;
		line-height: 1.0;
	}
}
.loading-panel
{
	padding-bottom: 0;
	.explanation-progress
	{
		// margin-bottom: 0;
	}
}

// Code Mirror stuff
.CodeMirror {
  border: 1px solid #dddddd;
  height: auto;
  .highlighted
  {
  	background-color: #00e345;
  }
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.editor-settings
{
	.dropdown-menu
	{			
		max-height: 153px;
		overflow-y: scroll;
		li
		{
			font-size: 12px;
		}
	}
}
.translator-message-list
{
	margin-bottom: 0;
}
input.ng-invalid.ng-dirty
{
	border: 1px solid #ff0000;
}
.alert.form-error
{
	padding: 3px;
}
.user-explanation
{
	padding: 0;
	.user-exp-info
	{
		margin-bottom: 0;
	}
}